<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/iwbt.css') }}">
  {% endblock %}

  {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  {% endblock %}
  {% import "bootstrap/wtf.html" as wtf %}

  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">IWBT</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">River Info<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('rivers.river_list') }}">Find a River</a></li>
              <li><a href="/local_rivers">Nearby Rivers</a></li>
              <li><a href="{{ url_for('rivers.favorites') }}">Favorites</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Traveler's Guide<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/camping_main">Camping</a></li>
              <li><a href="/local_rivers">Good Eats</a></li>
              <li><a href="/favorite_rivers">Gear Shacks</a></li>
            </ul>
          </li>
          <li><a href="#">Trip Logs</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="/about_us">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('social.sign_up') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="{{ url_for('social.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}
</body>
</html>
