{% extends "base.html" %}
<title>{% block title %}Find Your River{% endblock %}</title>

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='river_main.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.css">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.js"></script>
{% endblock %}

{% block content %}
<!--<content framework for a river page TODO: need to make this flexible so it works for any river> -->
<div class="container" id="page_head">
{% if current_user.favorite_rivers %}
{% for river in current_user.favorite_rivers %}
  <div class="river-item">
    <h2>{{river.name}}</h2>
    <h4>Placeholder</h4>
  </div>
{% endfor %}
{% else %}
  <h2>It ain't nothin' but the biggest fuckin' river in the state. <span class="js-clickable" onclick="addRiver()">Add One!</span></h2>
{% endif %}
</div>

<script>
function addRiver() {
  swal({
  title: 'Add a new river ... but not THE New River',
  html:
    '<span class="pull-left">Name</span><input id="swal-input1" class="swal2-input">' +
    '<span class="pull-left">Area</span><input id="swal-input2" class="swal2-input">',
  preConfirm: function () {
    return new Promise(function (resolve) {
      resolve([
        $('#swal-input1').val(),
        $('#swal-input2').val()
      ])
    })
  },
  onOpen: function () {
    $('#swal-input1').focus()
  }
  }).then(function (result) {
    $.ajax({
      url: "{{ url_for('api_01.add_river') }}",
      type: "POST"
    })
  }).catch(swal.noop)
}
</script>
{% endblock %}
