{% extends "base.html" %}

<title>{% block title %}{{river.river_name}}{% endblock %}</title>

{% block css %}
<style>
    @media (max-width: @screen-xs) {
    #page_title{font-size: 8vw; margin-top: 1110px}
    }

    @media (max-width: @screen-sm) {
        #page_title{font-size: 8vw;  margin-top: 1110px}
    }

    @media (max-width: @screen-md) {
        #page_title{font-size: 8vw;  margin-top: 1110px}
    }

    @media (min-width: @screen-lg) {
        #page_title{font-size: 18vw;  margin-top: 1110px}
    }

    #page_head{margin:20px}
</style>
{% endblock %}

{% block content %}
    <!--<content framework for a river page -- TODO: need to make this flexible so it works for any river> -->
    <div class="container" id="page_head">
        <h2 id="page_title">{{river.river_name}} - {{river.section_name}}</h2>
        <h4 id="river_description" style="font-size:2.5vw">{{river.short_description}}</h4>
    </div>
{% endblock %}
