{% extends "base.html" %}

<title>{% block title %}Select Rivers{% endblock %}</title>

{% block content %}
    <!--<put some comments here about what's going on> -->
    <div class="container" style="margin: 30px;">
        <h2 style="margin-top: 30px">Select A River</h2>
        <div class="list-group">
            {% for o in river_list %}
                <a href="river/{{ o.get_url }}.html" class="list-group-item" style="background-color:#99FF99">
                    <h4 class="list-group-item-heading">{{o.river_name}}</h4>
                    <p class="list-group-item-text">{{o.section_name}}  - 
			{{o.short_description}}</p>
                </a>

            {% endfor %}
        </div>
    </div>
{% endblock %}
